@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; /* Removes link-like view */ 
}

/* ##### BUTTONS ##### */

.betaButton {
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 3.5rem ;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 6px;
    border-color: #172339;
    border-width: 1px;
    background-color: transparent;
}
  
body {
    background-color: #FAF8F6;
    display: grid;
    grid-template-areas: 
    nav 
    hero
    works
    footer
    ;
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem; /* Query */
    margin-bottom: 3.6rem;
    padding: 0rem 1rem 0rem 1rem;
}

#hero {
    padding: 0rem 1rem 0rem 1rem;
}

#requestAccess {
    margin-left: auto;
}

#title-to-cta{
    display: flex;
    flex-direction: column;
}

#up-curve img {
    width: 9.5rem;
    float: right;
    margin-right: 2rem;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-size: 38px;
    font-weight: 400;
    color: #172339;
    letter-spacing: -0.53 x;
    margin: 1rem 0 1rem 0;
}

p {
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.09 px;
    line-height: 28px;
    color: #49566D;
    margin: 1rem 0 2rem 0;
}

#phoneImage {
    background-image: url(../assets/image-hero-landscape.webp);
    height: 15rem;
    margin-top: 3.5rem;
    background-repeat: no-repeat;
}

/* ###### STATS ###### */

#stats {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.statBlockHeading {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 56px;
    color: #172339;
    margin: 1rem auto 0 auto;
    text-align: center
}

.statBlockText {
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 1rem;    
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
    margin: 0 auto 0 auto;
    text-align: center;
}

/* ##### IT JUST WORKS ##### */

#blueSquare {
    background-color: #172339;
    border-radius: 15px;
    font-family: 'Epilogue', sans-serif;

}

#hombrePelon{
    background-image: url(../assets/image-jeremy-small@2x.webp);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-position: center; 
}

#pelito {
    background-image: url(../assets/pattern-curved-line-2.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-position: center; 
}

#blueSquare div h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: .42px;
    color: #FAF8F6;
    text-align: center;
}

#blueSquare div p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: .09px;
    color: #FAF8F6;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

#jeremy {
    text-transform: uppercase;
}

/* ##### FOOTER ##### */

footer {
    background-color: #F3EDE7;
    text-align: center;
    margin-top: -50px;
    height: 420px;
    z-index: -1;
    padding-top: 100px;
}

footer div {
    margin: 2rem 0rem 1rem 0;
}

#socials {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 0 8rem 0 8rem;
}