@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; /* Removes link-like view */ 
}


  
body {
    background-color: #FAF8F6;
    display: grid;
    grid-template-areas: 
    nav 
    hero
    works
    footer
    ;
    /* padding: 0rem 10rem 0rem 10rem; */
    padding: 0rem 1rem 0rem 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem; /* Query */
    margin-bottom: 3.6rem;
}

#requestAccess {
    margin-left: auto;
}

#title-to-cta{
    display: flex;
    flex-direction: column;
}

#up-curve img {
    width: 9.5rem;
    float: right;
    margin-right: 2rem;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-size: 38px;
    font-weight: 400;
    color: #172339;
    letter-spacing: -0.53 x;
    margin: 1rem 0 1rem 0;
}

p {
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.09 px;
    line-height: 28px;
    color: #49566D;
    margin: 1rem 0 2rem 0;
}

#phoneImage {
    background-image: url(../assets/image-hero-landscape.webp);
    height: 15rem;
    margin-top: 3.5rem;
}

/* ###### STATS ###### */

#stats {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.statBlockHeading {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 56px;
    color: #172339;
    margin: 1rem auto 0 auto;
    text-align: center
}

.statBlockText {
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 1rem;    
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
    margin: 0 auto 0 auto;
    text-align: center;
}

/* ##### BUTTONS ##### */

.betaButton {
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 3.5rem ;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 6px;
    border-color: #172339;
    border-width: 1px;
    background-color: transparent;
}